<!DOCTYPE html>
<html lang="fr">
<head>
<meta charset="UTF-8">

<!-- start: Mobile Specific -->
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1">
<!-- end: Mobile Specific -->

<!-- start: CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="css/style.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Sans:400,700">
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Droid+Serif">
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Boogaloo">
<link rel="stylesheet" type="text/css"
	href="http://fonts.googleapis.com/css?family=Economica:700,400italic">
<link href="css/schedule.css" rel="stylesheet">
<link href="css/vertical-menu.css" rel="stylesheet">
<!-- end: CSS -->

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
	<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<title>Agenda</title>
</head>
<body ng-app="planningApp" ng-controller="planningCtrl">
	<div id="navAutism" class="row affix-row">
		<div class="col-sm-3 col-md-2 affix-sidebar">
			<div class="sidebar-nav">
				<div class="navbar navbar-default" role="navigation">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse"
							data-target=".sidebar-navbar-collapse">
							<span class="sr-only">Toggle navigation</span> <span
								class="icon-bar"></span> <span class="icon-bar"></span> <span
								class="icon-bar"></span>
						</button>
						<span class="visible-xs navbar-brand">Menu</span>
					</div>
					<div class="navbar-collapse collapse sidebar-navbar-collapse">
						<ul class="nav navbar-nav">
							<li ng-repeat="a in autismes" ng-click="loadPlanning(a.idAutism)"><a
								href="#">{{a.firstnameAutism}} {{a.lastnameAutism}}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>

		<div class="col-sm-9 col-md-10 affix-content">
			<div class="page-header">
				<a class="btn btn-success btn-lg pull-right" href="index.html">Accueil</a>
				<h2>
					<span class="ico-calendar"></span> Planning <small hidden>du
						{{date | date:'dd/MM/yyyy'}}</small>
				</h2>
			</div>
			<div class="container">
				<div id="planning">
					<div ng-hide="schedule == null" class="table-responsive">
					<form action=""></form>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Début</th>
									<th>Fin</th>
									<th>Durée estimée (s)</th>
									<th>Activité</th>
									<th></th>
								</tr>
							</thead>
							<tbody>
								<tr ng-repeat="s in schedule" id="s{{s.idSchedule}}">
									<td ng-hide="editMode != s.idSchedule"><input type="datetime-local"
										ng-value="{{s.startdate | date:'dd/MM/yyyy HH:mm:ss'}}" /></td>
									<td ng-hide="editMode == s.idSchedule"
										ng-click="loadDetails(s.activity.idActivity)" class="clickabe"
										data-toggle="modal" data-target="#detail">{{s.startdate |
										date:'dd/MM/yyyy HH:mm:ss'}}</td>
									
									<td ng-hide="editMode != s.idSchedule"><input type="datetime-local"
										ng-value="{{s.enddate | date:'dd/MM/yyyy HH:mm:ss'}}" /></td>
									<td ng-hide="editMode == s.idSchedule"
										ng-click="loadDetails(s.activity.idActivity)" class="clickabe"
										data-toggle="modal" data-target="#detail">{{s.enddate |
										date:'dd/MM/yyyy HH:mm:ss'}}</td>
									
									<td ng-click="loadDetails(s.activity.idActivity)"
										class="clickabe" data-toggle="modal" data-target="#detail">{{s.activity.defaultSecondDurationActivity}}</td>
									
									<td ng-click="loadDetails(s.activity.idActivity)"
										class="clickabe" data-toggle="modal" data-target="#detail">{{s.activity.nameActivity}}</td>

									<td>
										<div class="btn-group btn-group-xs pull-right" role="group"
											ng-hide="editMode != 0" aria-label="bt">
											<button type="button" class="btn"
												ng-click="editPlanningElement(s.idSchedule)">Editer</button>
											<button type="button" class="btn"
												ng-click="removePlanningElement(s.idSchedule)">Supprimer</button>
										</div>
										<div class="btn-group btn-group-xs pull-right" role="group"
											ng-hide="editMode != s.idSchedule" aria-label="bt">
											<button type="button" class="btn"
												ng-click="savePlanningElement(s.idSchedule)">Enregistrer</button>
											<button type="button" class="btn"
												ng-click="cancelPlanningElementEdition(s.idSchedule)">Annuler</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
						<button type="button" class="btn pull-right"
							ng-hide="editMode != 0" ng-click="createPlanningElement()">Ajouter</button>
					</div>
				</div>

				<div id="detail" class="modal fade" role="dialog">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal">&times;</button>
								<h3 class="modal-title">{{activity.nameActivity}}</h3>
								<div class="modal-body">
									<div class="text-center">
										<img alt="image : {{activity.nameActivity}}"
											src="{{activity.urlPictureActivity}}">
										<p>
											Emplacement : <span ng-click="showLocationDetails()">{{activity.location.nameLocation}}</span>
										</p>
									</div>

									<div id="location" class="panel panel-default"
										ng-hide="false && !showLocation">
										<div class="panel-heading">
											<h4 class="panel-title">{{activity.location.nameLocation}}</h4>
										</div>
										<div class="panel-body">
											<div class="col-sm-5">
												<div class="row col-sm-12">
													<label>Adresse :</label>
												</div>
												<div class="col-sm-12">
													{{activity.location.addressLocation}}<br />
													{{activity.location.postalCodeLocation}}
													{{activity.location.cityLocation}}
												</div>
											</div>
											<div class="col-sm-7">
												<div class="row col-sm-12">
													<label>Coordonnées :</label>
												</div>
												<div class="col-sm-12">
													<table>
														<tr>
															<td>Latitude :&nbsp;</td>
															<td>{{activity.location.latitudeLocation}}</td>
														</tr>
														<tr>
															<td>Longitude :&nbsp;</td>
															<td>{{activity.location.gitudeLocation}}</td>
														</tr>
													</table>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default"
										data-dismiss="modal">Fermer</button>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>

			<!-- start: Java Script -->
			<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
			<script
				src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
			<!-- <script src="js/flexslider.js"></script>
					<script src="js/carousel.js"></script>
					<script src="js/jquery.cslider.js"></script>
					<script src="js/slider.js"></script>
					<script defer="defer" src="js/custom.js"></script> -->
			<script
				src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
			<script defer="defer" type="text/javascript" src="js/planning.js"></script>
			<!-- end: Java Script -->
</body>
</html>